:root{
    font-family: 'Poppins', sans-serif;
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1600877685303-857fde8d40d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
      
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

header{
    margin-bottom: 0.8rem;
    
    font-weight: normal;
    

   color: blanchedalmond;
   background: #2d4a2200;
   text-align: center;
   padding: 2rem 2rem 2rem 2rem;
   border-radius: 0rem;
}
#logo{
    max-width:200px;
    max-height:40%;
    width: auto;
    height: auto;
}
body{
    color:#2d4a22;
}
#container{
    width: min(90vw, 800px);
    margin: auto;
}
.SubCab{
    text-align: center;
    color:rgb(255, 255, 255);
}

.imageCar img{
    
    height: 50%;
    width: 70%;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    
}

.card{
    text-align: center;
    margin-bottom: 2rem;
    margin-top:  3rem;
    margin-left: 2rem;
    margin-right: 2rem;
   
    
       

    color: rgb(255, 255, 255);
    background: #131f0e62;
    backdrop-filter: blur(2px);
    
   
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 0.25rem;
}

.input-group{
    text-align: center;
    
    margin-top: 1.5rem;
}

input[type=text]{ 
    width: 295px;
    padding: 0.7rem;
    margin-top: 1rem;

    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #383838;
    -moz-box-shadow: 1px 1px 2px #424242;
    -webkit-box-shadow: 1px 1px 2px #363636;
    border:1px solid #6e6e6e;

    background: #f1f1f1; 
    
    
    
}
footer{
    color: rgba(240, 248, 255, 0.589);
    text-align: center;
    font-size: 2rem;

    margin-bottom: 2rem;
    margin-top:  8rem;

}
    
    textarea{
        border: 1px solid #000000;
        background:#ebebeb;
        width:150px;
        height:100px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        box-shadow: 1px 1px 2px #aaaaaa;
        -moz-box-shadow: 1px 1px 2px #bdbdbd;
        -webkit-box-shadow: 1px 1px 2px #e9e9e9;
    }
    input[type=text]:hover, textarea:hover{
        background: #ffffff;
        border:1px solid #0b8000;
    }
    
/*Botões de Confirmar/Limpar*/
#Confirmar{
    font-family: 'Poppins', sans-serif;
    font-size:medium ;
    color: rgb(255, 255, 255);
    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-weight: normal;
    
    
    
    
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    border-radius: 0.5rem;     

    background:rgb(0, 255, 76);
}
#Limpar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-size:medium ;
    color: rgb(255, 255, 255);
    
    width: 300px;
    height: 50px;
            
    margin-top: 0rem;
    margin-bottom: 0.8rem;
    
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;

    background:rgb(228, 64, 64);
}

#anuncios{
    text-align: center;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.listaTitulo{
    text-align: center;
}
#imagemAnuncio{
    width: 50px;
    height: 50px;
    background-size: 200px 150px;
}