:root{
    font-family: 'Poppins', sans-serif;
    /* The image used */
    background-image: url("https://image.freepik.com/vetores-gratis/fundo-realista-de-coronavirus_52683-46586.jpg");
      
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: auto;
  
}
.logo img{
    width: 200px;
    height: 200pxpx;
}
main{
    background-color: black;
    padding: 2rem 2rem 2rem 2rem;
}
form{
    background-color: rgb(135, 135, 255);
    color: rgb(255, 255, 255);
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1rem;
    border-radius: 8px;
}
.row{
    margin-bottom: 1rem;
}
#tipoSanguineo{
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 8px 0px 8px 0px;
    
    background:rgba(255, 255, 255, 0.761) ;
    color: rgb(85, 85, 85);
};

.botoes{
    text-align: center;
}
footer{
    color: rgba(240, 248, 255, 0.589);
    text-align: center;
    font-size: 2rem;

    margin-bottom: 2rem;
    margin-top:  8rem;

}