
:root{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
   
        /* The image used */
        background-image: url("https://image.freepik.com/vetores-gratis/fundo-realista-de-coronavirus_52683-46586.jpg");
      
        /* Set a specific height */
        min-height: 500px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      

}
header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}
.Logo img{
    width: 200px;
    height: 40%;
}
main{
    background: rgba(255, 255, 255, 0);
    padding: 2rem;
    
}
footer{
    text-align: center;
    margin-top: 11rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgba(255, 255, 255, 0.986);
}
.inputsLogin{
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}

.Login{
    background-color: rgba(240, 255, 255, 0.479);
    backdrop-filter: blur(3px);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    
}
.button{

    width: 290px;
    background-color: rgb(0, 255, 76);
    color: cornsilk;
    margin-top: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: rgb(181, 255, 163);
    border-width: 1px;
};
#user{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: transparent;
    width: 270px;
    
}
#senha{
    margin-top: 0.3rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: transparent;
    width: 270px;
}