:root{
    background: rgb(255, 254, 231);
    --logoCor: #f79595;
    --cards: #044f006e;
    --fundo: rgb(255, 254, 231);
}


header{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: auto;
    background: var(--fundo);
}
.logo img{
    width: 200px;
    height: 200pxpx;
}
main{
    background-color:var(--fundo);
    padding: 2rem 2rem 2rem 2rem;
}
form{
    background-color: var(--cards);
    color: rgb(255, 255, 255);
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1rem;
    border-radius: 8px;
}
.row{
    margin-bottom: 1rem;
}
.form-group{
    margin-bottom: 2rem;
}

.botoes{
    margin-top: 1rem;
    text-align: center;
}
.Ficha{
    background-color: rgba(255, 255, 255, 0.761);
    color:rgb(72, 72, 72);
    text-align: center;

    border-width: 2px;
    border-color: rgb(75, 75, 75);
    border-radius: 8px;

    padding: 1rem 2rem 2rem 1rem;
}
.Ficha label{
    font-size: 22px;
}
footer{
    color: rgba(240, 248, 255, 0.589);
    text-align: center;
    font-size: 2rem;

    margin-bottom: 2rem;
    margin-top:  8rem;

}

#customFileLang{
    padding: 1rem 0rem 0rem 0rem ;
}

#tipoSanguineo{
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 1px 0px 1px 0px;
    
    background:rgba(255, 255, 255, 0.761);
    color: rgb(72, 72, 72);
}

/*comments*/